* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(215, 215, 215);
  font-family: Roboto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  width: 300px;
  padding: 22px;
  background-color: white;
  box-shadow: 6px 12px 12px -4px #00000020;
  border-radius: 12px;
}

.title {
  text-align: center;
  font-size: 26px;
  font-weight: normal;
}

.color {
  height: 300px;
  width: 100%;
  border-radius: 12px;
  transition: all 1s ease;
}

.code {
  font-size: 16px;
  letter-spacing: 4px;
}

.btn-gen {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: rgb(207, 215, 234);
}

.btn-gen:hover {
  box-shadow: 12px 6px 12px -4px #00000020 inset;
}
